.homepage{
    
    background-color: #2EB7A9;
     height: 100vh;
}

.formColor {
    background-color:#F1F0CC;
    padding-bottom:15px; 
     border: 5px solid #02C39A;

}

.test {
    display: flex;
    flex-direction: column;
}

.formh1 {
  text-align: center;
  width: 100%;
  color: #028090;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.userButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userButtons button {
 background-color: #2EB7A9;
  color: #fff;
  border: 2px solid #F7F9F9;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.userButtons button:hover {
   color: #519e8a;
   background-color:  #fff;
  border: 2px solid #028090;
}