.card {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: 350px;
  width: 210px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto;
  margin-top: 30px;
  display: flex; 
}

.imageCard {
   height: 180px;
   width: 200px;
    flex-direction: column;
  justify-content: center;


}